.nav{
    position: fixed;
    float: left;
    width: 150px;
    height: 100%;
    background: black;
    color: white;
}
.nav-center{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.nav-logo{
	margin-top: 20px;
}
.user{
	margin-top: 40px;
}
.user img{
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.user p{
	color:#F6ED04;
	margin-top: 10px;
}
.first-page{
	font-size: 14px; 
	margin-top: 30px
}
.first-page a{
	color:white;
}
.login{
	margin-top: 60px;
	font-size: 16px;

}
.login p{
	border:1px solid white;
	padding: 3px 0;
	width: 80%;
	margin:10px auto;

}
.login p a{
	color:white;
	font-size: 14px;
}
.copyright{
	margin-top: 70px;
	font-size: 10px;
	color:#999;
	text-align: center;
}
.copyright p{
	margin:5px 0;
}